<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <!-- <script language="JavaScript" type="text/javascript" src="static/js/password.js"></script> -->
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='styles/machstatz.ico') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="{{ url_for('static',filename='js/password.js') }}"> -->
</head>

<body>

  <div class=" jumbotron nopadding" style="margin-bottom:0em;">
    <div style="float: left">
      <img class="img-responsive " src="{{ url_for('static',filename='styles/machstatz.png') }}" width="130"
        style="max-width:30vmin;height: auto; padding-top: 5px"> </div>
    <div class=" text-center" style="font-size: 4vmax; padding-right: 10vmin"><b>CONTROL PANEL</b></div>
  </div>

  <!-- navigation-bar -->
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand navbar-toggler text-light mr-auto" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active " href="#" data-toggle="collapse" data-target="#collapsibleNavbar">Home</a>
        </li>
        <li class="nav-item borderlist">
          <a class="nav-link" href="/gateway_conf">Gateway Config</a>
        </li>
        <li class="nav-item borderlist">
          <a class="nav-link" href="/system_config">System Config</a>
        </li>
        <li class="nav-item borderlist">
          <a class="nav-link " href="/opc_config">Opc Config</a>
        </li>
        <li class="nav-item borderlist">
          <a class="nav-link" href="/tag_status">Tag Status</a>
        </li>
        <li class="nav-item borderlist">
          <a class="nav-link" href="/all_status">All Status</a>
        </li>
        <li class="nav-item borderlist">
          <a class="nav-link" href="/endpoint_config">Endpoint Config</a>
        </li>
        <li class="nav-item borderlist">
          <a class="nav-link" href="/software_update">Software Update</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-auto">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal1">Reboot</a>
        </li>
        <li class="nav-item mr-auto">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal2">Change password</a>
        </li>
        <li class="nav-item mr-auto ">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal3">LogOut</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- navigation-bar-end -->

  <!-- The Modal for reboot -->
  <div class="modal fade" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Reboot</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body ">
          Do you really want to reboot?<br>
          <input class="my-4 mx-4" type="checkbox" name="relaunch_application" id="checkbox_reboot" value="relaunch" checked>Relauch Application<br>
          
          <div class="form-check-inline mx-5 my-2">            
                
              <button id="reboot_yes" type="button" class="btn btn-dark mx-3" value="Yes" onclick="move()">Yes</button>
              <button id="reboor_no" type="button" class="btn btn-dark mx-3" data-dismiss="modal" value="No">No</button>
            </div>
        </div>
        <div class="progress m-3" id="myProgress">
            <div class="progress-bar progress-bar-striped" id="myBar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
              0%
            </div>
          </div>

      </div>
    </div>
  </div>

  <!-- The Modal for change password -->
  <div class="modal fade" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Change password</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <form method="POST" action="/change_password">
          <div class="modal-body">
            <label>Current Password</label>
            <div class="form-group pass_show">
              <input type="password" id="current_passwords" name="current_password" class="form-control" placeholder="Current Password"/>
            </div>
            <label>New Password</label>
            <div class="form-group pass_show">
              <input type="password" name="new_password" id="new_passwords" class="form-control" placeholder="New Password"/>
            </div>
            <label>Confirm Password</label>
            <div class="form-group pass_show">
              <input type="password" id="confirm_passwords" name="confirm_password" class="form-control" placeholder="Confirm Password"/>
              <span id='message'></span>
            </div>
            <div class="p-3 m-2">
                <button type="submit"  id="btnSubmitDisabled" class="btn btn-dark mx-3" value="Save">Save</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

  <!-- The Modal for logout -->
  <div class="modal fade" id="myModal3">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Log Out</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Do you really want to log out?
          <div class="form-check-inline mx-5 my-3">
              <form methods="POST" action="/logout">
                <input type="submit" class="btn btn-dark mx-3" value="Yes">
              </form>
  
              <input type="button" class="btn btn-dark mx-3" data-dismiss="modal" value="No">
            </div>
        </div>

      </div>
    </div>
  </div>
  <section class="container my-5 py-5 text-center text-monospace">
    <span class="text-wrapper">
      <h1 class="ml5">
        <span class="text-wrapper ">
          <span class="line line1"></span>
          <span class="letters letters-left py-2" style="font-size:5vmax">WELCOME</span>
          <span class="line line2"></span>
        </span>
      </h1>
    </span>
    <p class="m-4 ml3" style="font-size: 4vmin;">Please read the Quick Start Guide before configuring this Gateway and
      follow the steps as mentioned.</p>
    <p class="ml3" style="font-size: 4vmin;">Click the download button below to download Quick Start Guide</p>
    <a href="/static/manual_files/home.txt" download="home.txt">
    <button type="button" class="ml3 btn btn-dark p-1 m-3 fa fa-download" style="font-size: 3vmin;">Download</button>
    </a>
  </section>

  <section style="margin-top: 9%;">
    <footer>
      <p class="text-center bg-dark text-light navbar-text col-md-12 col-sm-12 col-xs-12 my-5 "
        href="https://machstatz.com">support@machstatz.com</p>
    </footer>
  </section>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script type="text/javascript">
    // Wrap every letter in a span
    $('.ml3').each(function () {
      $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
    });

    anime.timeline({ loop: true })
      .add({
        targets: '.ml3 .letter',
        opacity: [0, 1],
        easing: "easeInOutQuad",
        duration: 2250,
        delay: function (el, i) {
          return 10 * (i + 1)
        }

      }).add({
        targets: '.ml3',
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000000
      });
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script type="text/javascript">
    anime.timeline({ loop: true })
      .add({
        targets: '.ml5 .line',
        opacity: [0.5, 1],
        scaleX: [0, 1],
        easing: "easeInOutExpo",
        duration: 700
      }).add({
        targets: '.ml5 .line',
        duration: 600,
        easing: "easeOutExpo",
        translateY: function (e, i, l) {
          var offset = -0.625 + 0.625 * 2 * i;
          return offset + "em";
        }
      }).add({
        targets: '.ml5 .ampersand',
        opacity: [0, 1],
        scaleY: [0.5, 1],
        easing: "easeOutExpo",
        duration: 600,
        offset: '-=600'
      }).add({
        targets: '.ml5 .letters-left',
        opacity: [0, 1],
        translateX: ["0.5em", 0],
        easing: "easeOutExpo",
        duration: 600,
        offset: '-=300'
      }).add({
        targets: '.ml5 .letters-right',
        opacity: [0, 1],
        translateX: ["-0.5em", 0],
        easing: "easeOutExpo",
        duration: 600,
        offset: '-=600'
      }).add({
        targets: '.ml5',
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 10000000
      });
  </script>
  <input type="password" id="variable" value="{{pswd|safe}}" hidden/><!-- Hide the value of {{pswd}} when viewed in Inspect Sources-->
<script>
$('#new_passwords, #confirm_passwords').on('keyup', function () {
  if ($('#current_passwords').val() == document.getElementById("variable").value) {
    console.log($('#current_passwords').val())
    console.log(document.getElementById("variable").value)
    // document.getElementById("variable").value = "it's hidden";
    $('#btnSubmitDisabled').attr("disabled", true);
      if ($('#new_passwords').val() != $('#current_passwords').val() && $('#current_passwords').val() != $('#confirm_passwords').val()) {
        $('#btnSubmitDisabled').attr("disabled", true);

        if ($('#new_passwords').val() == $('#confirm_passwords').val()) {
          // $('#message').html('Matching').css('color', 'green');
          $('#btnSubmitDisabled').attr("disabled", false);
          $('#message').html('');
        } else {
          $('#message').html('Passwords not matching').css('color', 'red');
          $("#btnSubmitDisabled").attr("disabled", true);
          // $('#btnSubmitDisabled').removeAttr("disabled");
        }

      } else {
        $('#btnSubmitDisabled').attr("disabled", false);
        $('#message').html('Set different password').css('color', 'red');

      }
    } else {
      $('#btnSubmitDisabled').attr("disabled", true);
      $('#message').html('Wrong current password').css('color', 'red');
      console.log($('#current_passwords').val())
      console.log(document.getElementById("variable").value)
    }
    });
</script>
<script>
function reboot(){
  var checkbox_resp = $("input[name=relaunch_application]:checked").length
  if(checkbox_resp == 1){
  $.post("/reboot", {check_relaunch:"on"})
  } else {
    $.post("/reboot", {check_relaunch:"off"})
  }
}
</script>

<!-- progress bar -->
  <script>
    var i = 0;
    var width = 0;
    function move() {
      reboot();
      if (i == 0) {
        i = 1;
        var elem = document.getElementById("myBar");
        var id = setInterval(frame, 100);
        function frame() {
          if (width >= 60) {
            clearInterval(id);
            i = 0;
          } else {
            width++;
            elem.style.width = width + "%";
            elem.innerHTML = width + "%";
          }
        }
      }
    }
  </script>
</body>
</html>