<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Transparent Login Form</title>


<style>
table {
    box-sizing: border-box;
	border-radius: 10px;

  border-collapse: collapse;
  width: 100%;
}

th, td {
    border-radius: 10px;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #606060;
  color: white;
}
</style>



</head>



<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
    });
});
</script>




<body data-spy="scroll" data-target="#menu">

    <div class="headingContainer" >
        <div class="cover1"> 
        <div style="padding-left: 120px;font-size: 36px;"><b>CONTROL PANEL</b></div>
    </div>
    </div>


		<a href="#" class="navbar-brand"><img src="machstatz.png" alt="logo"></a>



<ul class="topnav">
  
  				<li ><a class="active" href="#home">HOME</a></li>
				<li ><a href="#about">Gateway Config</a></li>
				<li ><a href="#portfolio">System configuration</a></li>
				<li ><a href="#testimonials">OPC Config</a></li>
				<li ><a href="#contact">Tag Status</a></li>
                <li ><a href="#contact">All Status</a></li>
                <li ><a href="#contact">Endpoint Config</a></li>
                <li ><a href="#contact">Software Update</a></li>
  
  
  
</ul>


<!--container-->
<div class="loginContainer">
	<div class="cover">
		<h3>Tag Status</h3>
		<br>
			<div>
				<button type="connect" onclick="alert('save')"><b>Get Tag Status</b></button>
				
			</div>
			
			<div class="tab">
				<button type="connect" onclick="alert('save')"><b>Clear Tag List</b></button>
			</div>
			
<br>
<br>			
			<table>
				<tr>
					<th>Tag Id</th>
					<th>Value</th>
					<th>Quality</th>
					<th>Update Tag</th>
					<th>Delete Tag</th>
				</tr>
				<tr>
					<td>Chanl1.Dev1.Tag1</td>
					<td>None</td>
					<td>error</td>
					<td>
						<div>
							<button type="connect" onclick="alert('save')"><b>Edit</b></button>
				
						</div>
					</td>
					<td>
						<div>
							<button type="connect" onclick="alert('save')"><b>Remove</b></button>
				
						</div>
					</td>
				</tr>
				<tr>
					<td>Chanl2.Dev2.Tag2</td>
					<td>None</td>
					<td>error</td>
					<td>
						<div>
							<button type="connect" onclick="alert('save')"><b>Edit</b></button>
				
						</div>
					</td>
					<td>
						<div>
							<button type="connect" onclick="alert('save')"><b>Remove</b></button>
				
						</div>
					</td>
				</tr>
				<tr>
					<td>Chan3.Dev3.Tag3</td>
					<td>None</td>
					<td>error</td>
					<td>
						<div>
							<button type="connect" onclick="alert('save')"><b>Edit</b></button>
				
						</div>
					</td>
					<td>
						<div>
							<button type="connect" onclick="alert('save')"><b>Remove</b></button>
				
						</div>
					</td>
				</tr>
			</table>
																
<br>
	</div>
</div>

<br><br>
	
</body>